# This is the example environment file for the project. Copy this file to .env and fill in the values for the models used.

# qwen api base:
QWEN_API_BASE="https://ws-98475hiuo5srv6p3.eu-central-1.maas.aliyuncs.com/compatible-mode/v1"

# provide model API keys here
GEMINI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=
OPENROUTER_API_KEY=
DASHSCOPE_API_KEY=
XAI_API_KEY=